/* CSS HEX 
--bottle-green: #1b7051ff;
--medium-aquamarine: #6de8bbff;
--granny-smith-apple: #afd391ff;
--dark-khaki: #d0c97cff;
--orange-yellow-crayola: #e0c472ff;
--maximum-yellow-red: #f0be67ff;
--wintergreen-dream: #558775ff;
--gunmetal: #202733ff;
*/

/*
Fonts:
rounded
font-family: 'Comfortaa', cursive;
*/


#bg {
  background:
  radial-gradient(circle, transparent 20%, #202733 20%, #202733 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, #202733 20%, #202733 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#6DE8BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #6DE8BB 8px, transparent 8px) -4px 0;
  background-color: #202733;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
  
}


.header{
  overflow: hidden;
  background-color:#1B2A45;
  padding: 20px 10px;
  border-radius: 15px;
}

  /* Style the header links */  
.header a {
  float: left;
  color: #C8F7E6;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
  
 
.header a.name {
    font-size: 25px;
    font-weight: none;
    font-family: 'Comfortaa', cursive;
}
  
  /* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Style the active/current link*/
.header a.active {
    background-color: rgb(255, 176, 30);
    color: white;
    font-family: 'Comfortaa', cursive;
}
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    font-family: 'Comfortaa', cursive;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      font-family: 'Comfortaa', cursive;
    }
  }


